.logoG{
    margin-top: 25%;
}
.formMod{
    margin-left: 45%;
    margin-right: 45%;
}
.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
.logoMargin{
    margin-top: 20%;
}
.formMargin{
    margin-top: 20px;
    border-radius: 150px;
}
.buttonMargin{
    margin-top: 5%;
}
.topLinks{
    color: #222;   
    text-align: right;
    font-size: 13px;
}
a:hover {
    color: gray;
  }
.imagesLogo{
    max-width: 300px;
}

@media (max-width: 499px) {
    img{
        width: 200px;
    }
    .formMargin{
        margin-top: 15%;
    }
    }
